[submodule "GitHubLibs/FreeRTOS"]
	path = GitHubLibs/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS.git
[submodule "GitHubLibs/ArteryTec/AT_437_435"]
	path = GitHubLibs/ArteryTec/AT_437_435
	url = https://github.com/ArteryTek/AT32F435_437_Firmware_Library.git
